<a href="https://colab.research.google.com/github/pooyalHsu/20230205python/blob/main/20230304Python%E8%AA%B2%E7%A8%8B-%E8%B3%87%E6%96%99%E5%88%86%E6%9E%90%E5%8F%8A%E7%88%AC%E8%9F%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

許多網站會反爬蟲，所以會抓不到
html(排版語言)是基本架構，css(美工)是優化美化增加設計感基本架構，js就是增加互動

# 20230304筆記

# 抓取網頁原始碼

In [4]:
import requests

In [5]:
url = 'https://victorgau.github.io/khpy_web_intro/html_only.html'

In [6]:
r = requests.get(url)

In [7]:
r

In [8]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取 Ajax網頁資料

### 從非 ajax 網站的網頁上，可以直接看到資料

In [9]:
# 典型的html原始碼
url = 'https://victorgau.github.io/khpy_web_intro/spy.html'

In [10]:
# 透過requests去請求資料然後放到r裡面
r = requests.get(url)

In [11]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [12]:
import pandas as pd

### 從 ajax 網頁上，可能看不到資料

In [13]:
# Ajax的網站
url = 'https://victorgau.github.io/khpy_web_intro/spy_ajax.html'

In [14]:
r = requests.get(url)

In [15]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AJAX範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
  <div class="container">
    <table border="1" class="dataframe table table-striped">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
          </tr>
          <tr>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="spy">

        </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "spy.json",
            dataType: 'json',
            type: 'get',
            cache:false,
            success: function(data){
                // console.log(data);
                var event_data = '';
                $.each(data, function(index, value){
                    // console.log(value);
                    event_data += '<tr>';
                    event_data += '<th>'+value.Date+'</th>';
                    event_data += '<td>'+value.Open+'</td>';
                    event_data += '<td>'+value.High+'</td>';
                    event_data += '<td>'+value.Low+'</td>';
                    event_data += '<td>'+value.Close+'</td>';
                    event_data += '<td>'+value['Adj Close']+'</td>';
                    event_data += '<td>'+value.Volume+'</td>';
                    event_data += '</tr>';
                });
                $("#spy").append(event_data);
            },
            error: function(d){
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
    </script>


</body>
</html>

In [16]:
url = 'https://victorgau.github.io/khpy_web_intro/spy.json'

In [17]:
data = requests.get(url).json()

In [18]:
df = pd.read_json(url)

In [19]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

## 關於pandas 的 read_html()

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

In [21]:
dfs = pd.read_html(url)

In [22]:
type(dfs)

list

In [23]:
len(dfs)

2

In [24]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

回家練習看蝦皮能不能找到搜尋關鍵字

# 剖析網頁原始碼

In [25]:
s = """<html><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body></html>"""

In [26]:
type(s)

str

In [27]:
from bs4 import BeautifulSoup

In [28]:
soup = BeautifulSoup(s)

In [29]:
soup.h1

In [30]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [31]:
soup.li

In [32]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [33]:
soup.select("li")[0]

In [34]:
soup.select("li")[0].text

' HTML 範例'

In [35]:
for x in soup.select("li"):
  print(x.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [36]:
for i, x in enumerate(soup.select("li")):
  print(i,":",x.text)

0 :  HTML 範例
1 :  HTML + CSS 範例
2 :  HTML + CSS + Javascript 範例
3 :  example01.html (爬蟲抓取用範例)
4 :  example02.html (爬蟲抓取用範例)
5 :  example03.html (爬蟲抓取用範例)
6 :  example04.html (爬蟲抓取用範例)
7 :  example05.html (爬蟲抓取用範例)
8 :  Classic HTML 範例 (爬蟲抓取用範例)
9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [37]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [38]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化
可以整理抓出來的資料的整齊度

In [39]:
x = 1
y = 1.23
z = True
w = "dog"

In [40]:
print(x,y,z,w)

1 1.23 True dog

In [41]:
#在後面引號輸入想要分隔的符號，預設值是逗點
print(x,y,z,w,sep="")

11.23Truedog

### f-string (3.5版後才有的)

In [42]:
print(f"{x},{y},{z},{w}")

1,1.23,True,dog

In [43]:
print("{x},{y},{z},{w}")

{x},{y},{z},{w}

In [44]:
# f值可以加上:做變化型
print(f"{x},{y},{z},{w}")
print(f"{x:5},{y},{z},{w}")
print(f"{x:05},{y},{z},{w}")

1,1.23,True,dog
    1,1.23,True,dog
00001,1.23,True,dog

In [45]:
print(f"{x},{y},{z},{w}")
print(f"{x},{y:7.5f},{z},{w}")
#浮點數總共顯示7個字元，點2是小數點後面取幾位
print(f"{x},{y:7.2f},{z},{w}")
print(f"{x},{y:7.2},{z},{w}")
print(f"{x},{y:7.3f},{z},{w}")
print(f"{x},{y:7.3},{z},{w}")
print(f"{x},{y:07.2f},{z},{w}")

1,1.23,True,dog
1,1.23000,True,dog
1,   1.23,True,dog
1,    1.2,True,dog
1,  1.230,True,dog
1,   1.23,True,dog
1,0001.23,True,dog

In [46]:
print(f"{x},{y},{z},{w}")
print(f"{x},{y},{z},{w:10}")
print(f"{x},{y},{z},{w:>10}")

1,1.23,True,dog
1,1.23,True,dog
1,1.23,True,       dog

### string.format

In [47]:
print("{},{},{},{}".format(x,y,z,w))

1,1.23,True,dog

In [48]:
print("{0},{1},{2},{1}".format(x,y,z,w))

1,1.23,True,1.23

In [49]:
print("{a},{b},{c},{d}".format(a=x,b=y,c=z,d=w))

1,1.23,True,dog

練習

In [50]:
u = 3.1415926

In [51]:
print(f"{u:7.2f}")

   3.14

練習
https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [52]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [53]:
for i in popularity:
  print(format_string.format(i[0], i[1], i[2], i[3], i[4], i[5], i[6], i[7]))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [54]:
# 使用 * unpack list
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

## 使用 css selector 來剖析資料
https://www.w3schools.com/cssref/css_selectors.php

https://developer.mozilla.org/zh-TW/docs/Web/CSS/CSS_Selectors

html中看到style就是css用來美化html的語法

In [55]:
url = 'https://victorgau.github.io/khpy_web_intro/'

In [56]:
r = requests.get(url)

In [57]:
soup = BeautifulSoup(r.text)

In [58]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

## 抓取露天拍賣資料

In [59]:
url = 'https://www.ruten.com.tw/category/0011'

In [60]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [61]:
r = requests.get(url,headers=headers)

In [62]:
'凸頭' in r.text

False

In [63]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [64]:
data = requests.get(url, headers=headers).json()

In [65]:
type(data)

dict

In [66]:
data.keys()

dict_keys(['status', 'data'])

In [67]:
type(data['data'])

list

In [68]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [69]:
len(data['data'])

11

In [70]:
for i in data['data']:
  print(f"{i['name']} ==> {i['goods_price_range']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion ==> {'min': 8, 'max': 24, 'ori_min': 8, 'ori_max': 24}
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB ==> {'min': 39, 'max': 119, 'ori_min': 39, 'ori_max': 119}
三菱電機HC-BH023-S12   99新 ==> {'min': 39000, 'max': 40950, 'ori_min': 39000, 'ori_max': 40950}
【秀秀】三菱PLC模塊 QJ72LP25-25 全新 ==> {'min': 33000, 'max': 33000, 'ori_min': 33000, 'ori_max': 33000}
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦 ==> {'min': 25900, 'max': 29900, 'ori_min': 25900, 'ori_max': 29900}
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX ==> {'min': 50760, 'max': 50760, 'ori_min': 50760, 'ori_max': 50760}
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦 ==> {'min': 23692, 'max': 23692, 'ori_min': 23692, 'ori_max': 23692}
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本) ==> {'min': 22800, 'max': 22800, 'ori_min': 22800, 'ori_max': 22800}
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝 ==> {'min': 38280, 'max': 38280, 'ori_min': 38280, 'ori_max': 38280}
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠 ==> {'min': 155, 'max': 155, 'ori_min': 155, 'ori_max': 155}
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈 ==> {'min': 199, 'max': 230, 'ori_min': 199, 'ori_max': 230}

測試蝦皮

In [71]:
url = 'https://shopee.tw/search?keyword=%E7%8E%A9%E5%85%B7'

In [72]:
r = requests.get(url,headers=headers)

抓標案

In [73]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [74]:
dfs = pd.read_html(url,encoding='utf-8')

In [75]:
dfs[4]['標案案號標案名稱'][0]

'11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金採購私有公共設施保留地線上投標系統案");$("#1").html(hw);'

## 讀取政府資料開放平台時價登錄資料

e.g:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [102]:
url = "	https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [104]:
df = pd.read_csv(url)

URLError: ignored

In [ ]:
df.head()

### 將 DataFrame 轉存成不同格式

In [80]:
df.to_excel('實價登錄資料.xlsx')

In [81]:
df.head(100).to_html('實價登錄前一百筆資料.html')

In [82]:
df.head(100).to_json('實價登錄前一百筆資料.json')

## 檔案的IO

### 文字檔

一般作法：

```python
f = open('test.txt', 'w')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.txt', 'w') as f:
  f.write(data)
```

### 二進位擋(Binary Files)
譬如：圖片, excel檔等

一般作法：

```python
f = open('test.jpg', 'wb')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.jpg', 'wb') as f:
  f.write(data)
```

### 抓取網頁原始碼並存成文字檔

In [92]:
url = 'https://victorgau.github.io/khpy_web_intro/html_only.html'

In [93]:
r = requests.get(url)

In [96]:
with open('index.html','w') as f:
  f.write(r.text)

### 抓取圖片並存成圖片檔

In [97]:
url = 'https://victorgau.github.io/khpy_web_intro/ninja.jpg'

In [98]:
r = requests.get(url)

In [99]:
with open('ninja.jpg','wb') as f:
  f.write(r.content)

# 練習 Pandas 的使用

In [105]:
import numpy as np
import pandas as pd

In [106]:
#grades = np.random.randint(低分, 高分, (人數, 4維陣列))
grades = np.random.randint(30, 101, (10, 4))

In [107]:
grades

array([[76, 71, 64, 56],
       [95, 45, 74, 95],
       [71, 37, 41, 72],
       [47, 71, 90, 75],
       [83, 71, 88, 45],
       [52, 55, 83, 73],
       [38, 61, 95, 80],
       [87, 42, 48, 85],
       [99, 98, 59, 95],
       [32, 96, 45, 68]])

In [108]:
df = pd.DataFrame(grades)

In [109]:
df

    0   1   2   3
0  76  71  64  56
1  95  45  74  95
2  71  37  41  72
3  47  71  90  75
4  83  71  88  45
5  52  55  83  73
6  38  61  95  80
7  87  42  48  85
8  99  98  59  95
9  32  96  45  68

In [111]:
df.columns = ['國文','英文','數學','理化']

In [112]:
df

   國文  英文  數學  理化
0  76  71  64  56
1  95  45  74  95
2  71  37  41  72
3  47  71  90  75
4  83  71  88  45
5  52  55  83  73
6  38  61  95  80
7  87  42  48  85
8  99  98  59  95
9  32  96  45  68

In [117]:
df.index = ['郭雅惠','陳欣虹','王曉明','李四','陳恭','小孩子','孩子王','張先生','張大名','張哈哈']

In [118]:
df

     國文  英文  數學  理化
郭雅惠  76  71  64  56
陳欣虹  95  45  74  95
王曉明  71  37  41  72
李四   47  71  90  75
陳恭   83  71  88  45
小孩子  52  55  83  73
孩子王  38  61  95  80
張先生  87  42  48  85
張大名  99  98  59  95
張哈哈  32  96  45  68

## 列出國文不及格的同學

In [116]:
#取出國文成績
df['國文']

郭雅惠    76
陳欣虹    95
王曉明    71
李四     47
陳恭     83
小孩子    52
孩子王    38
張先生    87
張大名    99
張哈哈    32
Name: 國文, dtype: int64

In [119]:
#判斷成績是否及格：True:不及格 False:及格
df['國文']<60

郭雅惠    False
陳欣虹    False
王曉明    False
李四      True
陳恭     False
小孩子     True
孩子王     True
張先生    False
張大名    False
張哈哈     True
Name: 國文, dtype: bool

In [120]:
df[df['國文'] < 60]

     國文  英文  數學  理化
李四   47  71  90  75
小孩子  52  55  83  73
孩子王  38  61  95  80
張哈哈  32  96  45  68

## 列出國文、英文不及格的同學名單

In [121]:
df['英文']<60

郭雅惠    False
陳欣虹     True
王曉明     True
李四     False
陳恭     False
小孩子     True
孩子王    False
張先生     True
張大名    False
張哈哈    False
Name: 英文, dtype: bool

In [124]:
#使用&(and)連結兩個條件，(註：｜(or))
df[(df['國文'] < 60) & (df['英文'] < 60)]

     國文  英文  數學  理化
小孩子  52  55  83  73

## 計算總分及平均

In [125]:
df.sum(axis=1)

郭雅惠    267
陳欣虹    309
王曉明    221
李四     283
陳恭     287
小孩子    263
孩子王    274
張先生    262
張大名    351
張哈哈    241
dtype: int64

In [126]:
df['總分'] = df.sum(axis=1)

In [128]:
df

     國文  英文  數學  理化   總分
郭雅惠  76  71  64  56  267
陳欣虹  95  45  74  95  309
王曉明  71  37  41  72  221
李四   47  71  90  75  283
陳恭   83  71  88  45  287
小孩子  52  55  83  73  263
孩子王  38  61  95  80  274
張先生  87  42  48  85  262
張大名  99  98  59  95  351
張哈哈  32  96  45  68  241

In [129]:
df.mean ()

國文     68.0
英文     64.7
數學     68.7
理化     74.4
總分    275.8
dtype: float64

In [130]:
df.mean(axis=1)

郭雅惠    106.8
陳欣虹    123.6
王曉明     88.4
李四     113.2
陳恭     114.8
小孩子    105.2
孩子王    109.6
張先生    104.8
張大名    140.4
張哈哈     96.4
dtype: float64

In [131]:
df[['國文','英文','數學','理化']].mean(axis=1)

郭雅惠    66.75
陳欣虹    77.25
王曉明    55.25
李四     70.75
陳恭     71.75
小孩子    65.75
孩子王    68.50
張先生    65.50
張大名    87.75
張哈哈    60.25
dtype: float64

In [132]:
df['平均'] = df[['國文','英文','數學','理化']].mean(axis=1)

In [133]:
df

     國文  英文  數學  理化   總分     平均
郭雅惠  76  71  64  56  267  66.75
陳欣虹  95  45  74  95  309  77.25
王曉明  71  37  41  72  221  55.25
李四   47  71  90  75  283  70.75
陳恭   83  71  88  45  287  71.75
小孩子  52  55  83  73  263  65.75
孩子王  38  61  95  80  274  68.50
張先生  87  42  48  85  262  65.50
張大名  99  98  59  95  351  87.75
張哈哈  32  96  45  68  241  60.25

## 輸出成excel檔

In [134]:
df.to_excel('成績.xlsx')

## 找出名次

In [135]:
df.rank()

       國文    英文    數學   理化    總分    平均
郭雅惠   6.0   7.0   5.0  2.0   5.0   5.0
陳欣虹   9.0   3.0   6.0  9.5   9.0   9.0
王曉明   5.0   1.0   1.0  4.0   1.0   1.0
李四    3.0   7.0   9.0  6.0   7.0   7.0
陳恭    7.0   7.0   8.0  1.0   8.0   8.0
小孩子   4.0   4.0   7.0  5.0   4.0   4.0
孩子王   2.0   5.0  10.0  7.0   6.0   6.0
張先生   8.0   2.0   3.0  8.0   3.0   3.0
張大名  10.0  10.0   4.0  9.5  10.0  10.0
張哈哈   1.0   9.0   2.0  3.0   2.0   2.0

In [136]:
df['總分'].rank(ascending=False)

郭雅惠     6.0
陳欣虹     2.0
王曉明    10.0
李四      4.0
陳恭      3.0
小孩子     7.0
孩子王     5.0
張先生     8.0
張大名     1.0
張哈哈     9.0
Name: 總分, dtype: float64

In [138]:
df['名次'] = df['總分'].rank(ascending=False)

In [139]:
df

     國文  英文  數學  理化   總分     平均    名次
郭雅惠  76  71  64  56  267  66.75   6.0
陳欣虹  95  45  74  95  309  77.25   2.0
王曉明  71  37  41  72  221  55.25  10.0
李四   47  71  90  75  283  70.75   4.0
陳恭   83  71  88  45  287  71.75   3.0
小孩子  52  55  83  73  263  65.75   7.0
孩子王  38  61  95  80  274  68.50   5.0
張先生  87  42  48  85  262  65.50   8.0
張大名  99  98  59  95  351  87.75   1.0
張哈哈  32  96  45  68  241  60.25   9.0